.education-container {
    margin-top: 5em;
    height: auto;
    width: 100%;
    background-color: var(--bg-over);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1em;
}

.education-section {
    margin-top: 5em;
}

.company {
    margin-bottom: 5em;
}

.companyLogo {  
    width: 150px;
    height: 100%;

}

.companyDetails {
    text-align: center;
    line-height: 1em;
}

.companyName {
    font-size: 1.5em;
    color: var(--secondary-color);
    font-weight: bold;
}

.companyLocation {
    font-size: 1em;
    color: var(--sub-text-color);
}

/* Roles */

.role, .role-time, .role-desc {
    line-height: 1em;
}

.role {
    font-size: 1.1em;
    color: var(--primary-color);
}

.role-time {
    color: var(--sub-text-color);
}

.role-desc {
    color: var(--text-color);
}

@media screen and (min-width: 577px) {
    .companyDetails {
        text-align: left;
    }
}

@media screen and (min-width: 1281px) {
    .education-section {
        padding: 0 20em;
    }
}
